/* ----------- WHOLE WEBSITE ----------- */
.container {
  background: linear-gradient(to bottom, #3cb371, #228b22);
}

/* reset - default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

/* ----------- HEADER ----------- */
.header {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust this value to control the height of the header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  color: #ffffff;
  margin-top: 0;
}

.earth-news {
  /* General styles for the EarthNews component */
}

.header {
  /* Styles for the header section */
}


body {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", helvetica,
    sans-serif;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(800px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

/* ----------- CONTENT ----------- */
.main-content {
  /* Styles for the main content section */
}
.main-content {
  padding: 2rem;
}

.search-container {
  margin-top: 16px;
}

.search-bar {
  width: 300px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 12px;
  /* Add any other search bar styles you prefer */
}

.search-button {
  padding: 8px 16px;
  background-color: #ffffff;
  color: #3cb371;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}